In [2]:
import wmfdata as wmf

In [3]:
query = """
SELECT
    cohort_date,
    SUM(CAST(retention_actions > 0 AS INT)) / COUNT(1) AS second_day_retention
FROM (
    SELECT
        cohort_date,
        cohort.user_id AS user_id,
        COUNT(retention_actions.dt) AS retention_actions
    FROM (
        SELECT
            CAST(DATE_TRUNC('day', TO_TIMESTAMP(dt)) AS DATE) AS cohort_date,
            event.user_id AS user_id,
            TO_TIMESTAMP(MIN(dt)) AS first_read_dt
        FROM event.inukapageview
        WHERE
            event.client_type = 'kaios-app' AND
            (year = 2020 AND month = 9 AND day >= 9 OR
             year = 2020 AND month > 9 OR
             year > 2020) AND
            DATE_TRUNC('day', TO_TIMESTAMP(dt)) < CURRENT_DATE - INTERVAL '2' DAY
        GROUP BY
            event.user_id,
            DATE_TRUNC('day', TO_TIMESTAMP(dt))
    ) cohort
    LEFT JOIN event.inukapageview retention_actions
    ON
        cohort.user_id = retention_actions.event.user_id AND
        TO_TIMESTAMP(retention_actions.dt) BETWEEN
            first_read_dt + INTERVAL '1' DAY AND
            first_read_dt + INTERVAL '2' DAY
    GROUP BY
        cohort.cohort_date,
        cohort.user_id
) retention_actions_per_user
GROUP BY cohort_date
ORDER BY cohort_date
"""

second_day_retention = wmf.spark.run(query, session_type="large")

In [4]:
second_day_retention.style.format({"second_day_retention": wmf.utils.pct_str})

In [6]:
query = """
SELECT
    cohort_date,
    SUM(CAST(retention_actions > 0 AS INT)) / COUNT(1) AS second_week_retention
FROM (
    SELECT
        cohort_date,
        cohort.user_id AS user_id,
        COUNT(retention_actions.dt) AS retention_actions
    FROM (
        SELECT
            CAST(DATE_TRUNC('day', TO_TIMESTAMP(dt)) AS DATE) AS cohort_date,
            event.user_id AS user_id,
            TO_TIMESTAMP(MIN(dt)) AS first_read_dt
        FROM event.inukapageview
        WHERE
            event.client_type = 'kaios-app' AND
            (year = 2020 AND month = 9 AND day >= 9 OR
             year = 2020 AND month > 9 OR
             year > 2020) AND
            DATE_TRUNC('day', TO_TIMESTAMP(dt)) < CURRENT_DATE - INTERVAL '2' WEEK
        GROUP BY
            event.user_id,
            DATE_TRUNC('day', TO_TIMESTAMP(dt))
    ) cohort
    LEFT JOIN event.inukapageview retention_actions
    ON
        cohort.user_id = retention_actions.event.user_id AND
        TO_TIMESTAMP(retention_actions.dt) BETWEEN
            first_read_dt + INTERVAL '1' WEEK AND
            first_read_dt + INTERVAL '2' WEEK
    GROUP BY
        cohort.cohort_date,
        cohort.user_id
) retention_actions_per_user
GROUP BY cohort_date
ORDER BY cohort_date
"""

second_week_retention = wmf.spark.run(query, session_type="large")

In [7]:
second_week_retention.style.format({"second_week_retention": wmf.utils.pct_str})

In [11]:
print(second_week_retention.to_string(index=False))

cohort_date  second_week_retention
 2020-11-05               0.180415
 2020-11-06               0.182463
 2020-11-07               0.182047
 2020-11-08               0.183770
 2020-11-09               0.187658
 2020-11-10               0.186788
 2020-11-11               0.186797
 2020-11-12               0.185730
 2020-11-13               0.194118
 2020-11-14               0.196727
 2020-11-15               0.197932
 2020-11-16               0.192084
 2020-11-17               0.189913
 2020-11-18               0.192797
 2020-11-19               0.192282
 2020-11-20               0.188222
 2020-11-21               0.199443
 2020-11-22               0.195344
 2020-11-23               0.191698
 2020-11-24               0.192734
 2020-11-25               0.192071
 2020-11-26               0.190430
 2020-11-27               0.194573
 2020-11-28               0.192712
 2020-11-29               0.194162
 2020-11-30               0.200227
 2020-12-01               0.200840
 2020-12-02               0.199493
 2020-12-03               0.202197
 2020-12-04               0.200045
 2020-12-05               0.198200
 2020-12-06               0.196724
 2020-12-07               0.201684
 2020-12-08               0.196870
 2020-12-09               0.203475
 2020-12-10               0.199470
 2020-12-11               0.199025
 2020-12-12               0.199167
 2020-12-13               0.207594
 2020-12-14               0.198684
 2020-12-15               0.204474
 2020-12-16               0.203258
 2020-12-17               0.202229
 2020-12-18               0.208287
 2020-12-19               0.209984
 2020-12-20               0.203764
 2020-12-21               0.205299
 2020-12-22               0.210915
 2020-12-23               0.213561
 2020-12-24               0.212305
 2020-12-25               0.209654
 2020-12-26               0.210029
 2020-12-27               0.216461
 2020-12-28               0.217910
 2020-12-29               0.219680
 2020-12-30               0.218396
 2020-12-31               0.211617
 2021-01-01               0.216290
 2021-01-02               0.212227
 2021-01-03               0.195767
 2021-01-04               0.205412
 2021-01-05               0.200984
 2021-01-06               0.196790
 2021-01-07               0.196432
 2021-01-08               0.205021
 2021-01-09               0.197670
 2021-01-10               0.199817
 2021-01-11               0.195960
 2021-01-12               0.194702
 2021-01-13               0.199632
 2021-01-14               0.207868
 2021-01-15               0.207012
 2021-01-16               0.205707
 2021-01-17               0.199120
 2021-01-18               0.200807
 2021-01-19               0.193561

In [8]:
query = """
SELECT
    cohort_date,
    SUM(CAST(s_since_first_run < 86400 AS INT)) AS less_than_1d_users,
    SUM(CAST(s_since_first_run >= 86400 AND s_since_first_run < 172800 AS INT)) AS 1d_users,
    SUM(CAST(s_since_first_run >= 172800 AND s_since_first_run < 604800 AS INT)) AS 2_6d_users,
    SUM(CAST(s_since_first_run >= 604800 AND s_since_first_run < 1209600 AS INT)) AS 7_13d_users,
    SUM(CAST(s_since_first_run >= 1209600 AND s_since_first_run < 2592000 AS INT)) AS 14_30d_users,
    SUM(CAST(s_since_first_run >= 2592000 AND s_since_first_run < 7776000 AS INT)) AS 30_89d_users,
    SUM(CAST(s_since_first_run >= 7776000 AND s_since_first_run < 31536000 AS INT)) AS 90_364d_day_users,
    SUM(CAST(s_since_first_run >= 31536000 AS INT)) AS 1yr_plus_users
FROM (
    SELECT
      cohort.cohort_date,
      cohort.user_id,
      TO_UNIX_TIMESTAMP(FIRST(cohort.first_read_dt)) - TO_UNIX_TIMESTAMP(TO_TIMESTAMP(FIRST(first_run.dt))) AS s_since_first_run
    FROM (
        SELECT
            CAST(DATE_TRUNC('day', TO_TIMESTAMP(dt)) AS DATE) AS cohort_date,
            event.user_id AS user_id,
            TO_TIMESTAMP(MIN(dt)) AS first_read_dt
        FROM event.inukapageview
        WHERE
            event.client_type = 'kaios-app' AND
            (year = 2020 AND month = 9 AND day >= 9 OR
             year = 2020 AND month > 9 OR
             year > 2020) AND
             DATE_TRUNC('day', TO_TIMESTAMP(dt)) < CURRENT_DATE
        GROUP BY
            event.user_id,
            DATE_TRUNC('day', TO_TIMESTAMP(dt))
    ) cohort
    LEFT JOIN event_sanitized.kaiosappfirstrun first_run
    ON cohort.user_id = first_run.event.app_id
    GROUP BY
        cohort.cohort_date,
        cohort.user_id
) time_since_install
GROUP BY cohort_date
ORDER BY cohort_date
"""

users_by_time_since_install = wmf.spark.run(query, session_type="large")

In [9]:
users_by_time_since_install

,cohort_date,less_than_1d_users,1d_users,2_6d_users,7_13d_users,14_30d_users,30_89d_users,90_364d_day_users,1yr_plus_users
0,2020-11-05,8253,542,1387,1164,1988,3848,1,0
1,2020-11-06,8068,529,1400,1204,1906,3897,0,0
2,2020-11-07,7824,503,1354,1139,1877,3849,1,0
3,2020-11-08,7636,499,1315,1131,1794,3801,0,0
4,2020-11-09,7285,457,1204,1042,1714,3652,0,0
...,...,...,...,...,...,...,...,...,...
85,2021-01-29,5157,303,826,649,893,1580,1726,0
86,2021-01-30,5410,307,766,629,870,1531,1795,0
87,2021-01-31,5314,297,844,661,836,1549,1758,0
88,2021-02-01,4745,358,825,651,906,1490,1698,0
89,2021-02-02,4787,329,851,638,925,1477,1756,0

In [14]:
print(users_by_time_since_install[[
  "cohort_date",
  "90_364d_day_users",
  "30_89d_users",
  "14_30d_users",
  "7_13d_users",
  "2_6d_users",
  "1d_users",
  "less_than_1d_users"
]].to_string(index=False))

cohort_date  90_364d_day_users  30_89d_users  14_30d_users  7_13d_users  2_6d_users  1d_users  less_than_1d_users
 2020-11-05                  1          3848          1988         1164        1387       542                8253
 2020-11-06                  0          3897          1906         1204        1400       529                8068
 2020-11-07                  1          3849          1877         1139        1354       503                7824
 2020-11-08                  0          3801          1794         1131        1315       499                7636
 2020-11-09                  0          3652          1714         1042        1204       457                7285
 2020-11-10                  0          3913          1758         1056        1208       442                7039
 2020-11-11                  0          3733          1565          973        1236       420                7187
 2020-11-12                  0          3809          1615          964        1187       412                7451
 2020-11-13                  1          3643          1509          948        1002       456                6540
 2020-11-14                  0          3291          1333          814         984       369                5315
 2020-11-15                  0          3739          1499          888        1011       323                5957
 2020-11-16                  0          3920          1500          900        1061       359                6408
 2020-11-17                  0          4075          1555          935        1043       377                6791
 2020-11-18                  1          3924          1459          840        1040       414                6778
 2020-11-19                  0          4045          1412          947         992       416                6753
 2020-11-20                  0          3950          1392          845        1014       400                6812
 2020-11-21                  0          3990          1285          762         959       429                6498
 2020-11-22                  0          3909          1262          747         981       434                6495
 2020-11-23                  0          3797          1266          758        1002       392                6738
 2020-11-24                  0          3906          1232          711        1065       386                6543
 2020-11-25                  1          3948          1217          802         967       364                6490
 2020-11-26                  1          3949          1214          753        1049       394                6543
 2020-11-27                  2          4000          1225          788        1037       365                6424
 2020-11-28                  1          3817          1163          730        1014       375                6237
 2020-11-29                  1          4045          1149          780         981       369                6351
 2020-11-30                  1          3766          1142          743         977       345                5825
 2020-12-01                  2          3820          1092          806         972       347                5769
 2020-12-02                  1          4074          1120          736         989       337                5711
 2020-12-03                  1          4088          1120          828        1012       363                5935
 2020-12-04                  1          3921          1097          725         994       369                5847
 2020-12-05                  0          3951          1062          763         900       341                5935
 2020-12-06                  0          4010          1030          706         861       336                5677
 2020-12-07                  2          3768           984          682         927       358                5723
 2020-12-08                 37          4070           990          729         896       361                5857
 2020-12-09                157          3708           989          702         844       351                5812
 2020-12-10                244          3429          1013          725         963       336                5650
 2020-12-11                384          3583           948          717         972       338                5864
 2020-12-12                404          3418           936          681         910       345                5811
 2020-12-13                537          3358          1022          754         944       366                5739
 2020-12-14                564          3377           977          745         967       372                6122
 2020-12-15                614          3214           995          682         918       376                5751
 2020-12-16                667          2964           986          694         963       384                5733
 2020-12-17                733          3015          1005          716         857       354                5696
 2020-12-18                797          2943           944          720         941       347                5535
 2020-12-19                799          2820           915          671         992       367                5500
 2020-12-20                866          2741           926          702         892       335                5347
 2020-12-21                911          2713           909          704         892       334                5397
 2020-12-22               1006          2723           962          730         909       322                5443
 2020-12-23                985          2593           912          722         839       335                5370
 2020-12-24               1075          2679           968          675         859       329                5490
 2020-12-25               1154          2466           916          692         881       320                5309
 2020-12-26               1222          2510           971          685         869       340                5262
 2020-12-27               1315          2571           898          635         844       338                5278
 2020-12-28               1304          2371           921          718         874       334                5074
 2020-12-29               1286          2373           910          693         802       343                5026
 2020-12-30               1317          2372           922          699         892       312                4946
 2020-12-31               1322          2238           937          703         831       288                4729
 2021-01-01               1345          2152           879          646         776       272                4530
 2021-01-02               1488          2212           914          719         812       301                5128
 2021-01-03               1543          2281           976          668         818       317                5365
 2021-01-04               1585          2142           968          703         787       314                5094
 2021-01-05               1590          2206           957          678         820       313                5295
 2021-01-06               1636          2135           965          662         800       320                6119
 2021-01-07               1687          2145          1025          667         816       363                6731
 2021-01-08               1730          2110           967          648         831       438                6419
 2021-01-09               1780          2200          1033          667         898       424                7004
 2021-01-10               1837          2153           986          645        1019       430                6692
 2021-01-11               1808          2004           921          566        1061       427                6260
 2021-01-12               1666          1902           934          552        1091       400                6248
 2021-01-13               1644          1805           847          553        1100       382                6146
 2021-01-14               1734          1853           840          639         994       367                4955
 2021-01-15               1700          1842           805          643         996       345                4831
 2021-01-16               1841          1883           848          686        1015       278                5023
 2021-01-17               1831          1868           832          801        1026       306                5368
 2021-01-18               1767          1806           833          894         915       315                5495
 2021-01-19               1867          1824           805          820         904       326                5505
 2021-01-20               1842          1793           755          793         849       388                5574
 2021-01-21               1723          1702           814          726         826       408                5120
 2021-01-22               1703          1688           815          710         873       370                5341
 2021-01-23               1779          1803           886          673         839       302                5365
 2021-01-24               1756          1700           879          668         898       332                5569
 2021-01-25               1736          1646           858          610         913       355                5294
 2021-01-26               1807          1677           883          629         900       373                5173
 2021-01-27               1733          1654           854          648         837       320                5348
 2021-01-28               1803          1604           897          665         850       324                5139
 2021-01-29               1726          1580           893          649         826       303                5157
 2021-01-30               1795          1531           870          629         766       307                5410
 2021-01-31               1758          1549           836          661         844       297                5314
 2021-02-01               1698          1490           906          651         825       358                4745
 2021-02-02               1756          1477           925          638         851       329                4787